@media (max-width: 850px) {
    /* .wave-container::before {
        height: 37.5px;
    } */
}


/* meet the team section */
.meet-the-team-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-height: unset;
    align-items: stretch;
}

.team-image {
    height: 290px;
}

.team-section {
    flex: 1;
    padding-bottom: 2rem;
}

.team-section .accordion-item {
    border: none;
}

.team-section h4 {
    font-size: 1.5rem;
    margin-top: 20px;
}

.team-section .social-icons {
    white-space: nowrap;
    height: 27px;
    min-height: 16px;
    width: 138px;
    min-width: 94px;
    margin: 20px auto 0;
    display: flex;
    color: #858e99;
}

.social-icons a {
    height: 100%;
    display: inline-block;
    flex: 1;
    margin-left: 10px;
}

.social-icons .u-icon {
    display: flex;
    height: 100%;
    justify-content: center;
    line-height: 0;
    border-width: 0px;
    border-radius: 50%;
}

.u-svg-content {
    width: 0;
    height: 0;
    overflow: hidden;
}

.u-svg-link {
    fill: currentColor;
}

/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

/* TODO: font: += "Poppins" family causes text overflow on navbar */
body,
p {
    color: #5e6576;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

h1 {
    color: #223150;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: -0.4px;
}

h2 {
    color: #223150;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.4px;
}

h3 {
    color: #223150;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -0.2px;
}

h4 {
    color: #223150;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.2px;
}

h5 {
    color: #223150;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.625rem;
}

h6 {
    color: #223150;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.375rem;
}

.p-large {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.p-small {
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.testimonial-text {
    font-style: italic;
}

.testimonial-author {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

section {
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.mentee-image {
    padding-bottom: 1rem;
}

.mentee-image img {
    width: 60%;
}

.li-space-lg li {
    margin-bottom: 0.5rem;
}

a {
    color: #5e6576;
    text-decoration: underline;
}

a:hover {
    color: #5e6576;
    text-decoration: underline;
}

.no-line {
    text-decoration: none;
}

.no-line:hover {
    text-decoration: none;
}

.read-more {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.read-more .fas {
    margin-left: 0.625rem;
    font-size: 1rem;
    vertical-align: -8%;
}

.blue {
    color: #0092ff;
}

.bg-gray {
    background-color: #fcfafb;
}

.btn-solid-reg {
    display: inline-block;
    padding: 1.375rem 2.25rem 1.375rem 2.25rem;
    border: 1px solid #229FBF;
    border-radius: 30px;
    background-color: #229FBF;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid-reg:hover {
    background-color: transparent;
    color: #0092ff;
    text-decoration: none;
}

.btn-solid-lg {
    display: inline-block;
    padding: 1.625rem 2.625rem 1.625rem 2.625rem;
    border: 1px solid #229FBF;
    border-radius: 10px;
    background-color: #229FBF;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.text-container .btn-solid-lg {
    box-shadow: 5px 5px 18px 0px rgba(0, 0, 0, 0.45);
}

.btn-solid-lg:hover {
    background-color: transparent;
    color: #229FBF;
    text-decoration: none;
}

.btn-solid-sm {
    display: inline-block;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: 1px solid #229FBF;
    ;
    border-radius: px;
    background-color: #229FBF;
    ;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid-sm:hover {
    background-color: transparent;
    color: #229FBF;
    ;
    text-decoration: none;
}

.btn-outline-reg {
    display: inline-block;
    padding: 1.375rem 2.25rem 1.375rem 2.25rem;
    border: 1px solid #ef473d;
    border-radius: 30px;
    background-color: transparent;
    color: #ef473d;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-reg:hover {
    background-color: #ef473d;
    color: #ffffff;
    text-decoration: none;
}

.btn-outline-lg {
    display: inline-block;
    padding: 1.625rem 2.625rem 1.625rem 2.625rem;
    border: 1px solid #ef473d;
    border-radius: 30px;
    background-color: transparent;
    color: #ef473d;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-lg:hover {
    background-color: #ef473d;
    color: #ffffff;
    text-decoration: none;
}

.btn-outline-sm {
    display: inline-block;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border: 1px solid #ef473d;
    border-radius: 30px;
    background-color: transparent;
    color: #ef473d;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-sm:hover {
    background-color: #ef473d;
    color: #ffffff;
    text-decoration: none;
}

.form-group {
    position: relative;
    margin-bottom: 1.25rem;
}

.form-control-input {
    width: 100%;
    transition: all 0.1s linear;
    padding-top: 0.2rem;
    padding-bottom: 1.5rem;
    outline: none;
    border: none;
    border-bottom: 2px solid grey;
    border-radius: 0px;
    background-color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5rem;
    -webkit-appearance: none;
}

.form-control-input:hover,
.form-control-textarea:hover {
    border-bottom: 2px solid #229FBF;
}

.form-control-input:focus,
.form-control-textarea:focus {
    outline: 0.5px solid grey;
}

.form-control-submit-button {
    display: inline-block;
    width: 100%;
    height: 3.25rem;
    border: 1px solid #229FBF;
    ;
    border-radius: 15px;
    background-color: #229FBF;
    ;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    cursor: pointer;
    transition: all 0.2s;
}

.form-control-submit-button:hover {
    border: 1px solid #229FBF;
    ;
    background-color: transparent;
    color: #229FBF;
    ;
}

/* Themes for future. */
.ananse-dark {
    background-color: #00708BDD !important;
    color: #a19a89;
}

/**********************/
/*     Navigation     */
/**********************/
.navbar {
    background-color: #fcfafb;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0.875rem;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
}

/* Navbar on About page */
#navbar-ananse-dark {
    background-color: #00708B;

}

/* #navbar-ananse-dark .nav-link{
    color: white;
} */

#navbar-ananse-dark .btn-solid-sm {
    background-color: white;
    color: #5e6576;
    border-color: white;
}

.navbar .navbar-brand {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.navbar .btn-solid-sm {
    border-radius: 5px;
}

.navbar .logo-image img {
    height: 32px;
}

.navbar .logo-text {
    color: #223150;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1rem;
    text-decoration: none;
}

.offcanvas-collapse {
    position: fixed;
    top: 3.25rem;
    /* adjusts the height between the top of the page and the offcanvas menu */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fcfafbEF;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

}

.navbar .navbar-nav {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;

}

.navbar .nav-item .nav-link {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    color: #5e6576;
    text-decoration: none;
    transition: all 0.2s linear;
}

.navbar .ananse-dark .nav-item .nav-link {
    /* color: #a19a89; */
    color: #e0e0e0;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
    color: #229FBF;
    ;
}

#navbar-ananse-dark .nav-item.dropdown.show .nav-link,
#navbar-ananse-dark .nav-item .nav-link:hover,
#navbar-ananse-dark .nav-item .nav-link.active {
    color: white;
    text-decoration: underline;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
    animation: fadeDropdown 0.2s;
    /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar .dropdown-menu {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border: none;
    background-color: #fcfafb;
}

.navbar .dropdown-item {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    color: #5e6576;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0.875rem;
    text-decoration: none;
}

.navbar .dropdown-item:hover {
    background-color: #fcfafb;
    color: #0092ff;
}

.navbar .dropdown-divider {
    width: 100%;
    height: 1px;
    margin: 0.5rem auto 0.5rem auto;
    border: none;
    background-color: #d1d1d1;
}

/* end of dropdown menu */

.navbar .navbar-toggler {
    padding: 0;
    border: none;
    font-size: 1.25rem;
}

/******************/
/*     Header     */
/******************/
.header {
    background-size: cover;
    text-align: center;
}

/* Large banners for info pages */
.ananse-header-lg {
    background-color: #00708B;
    padding-top: 6rem;
    margin-bottom: 6rem;
}

.ananse-header-lg h2,
.ananse-header-lg p {
    color: white !important;
}

.ananse-header-lg .row {
    align-content: center !important;
    height: 300px;
}

/* Container after header on About page */
#header-about .container {
    margin: 0px 0px;
    padding: 0px 0px;
    max-width: unset;
}

#header-about img {
    width: 100px;
    height: 100px;
    margin-top: 50px;
}

#header-about .container .row {
    height: 300px;
    background-position-y: -70px;
    background-size: cover;
    background-repeat: no-repeat;
}

#header-about .container .row .card {
    width: fit-content;
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.5);
    margin-top: -160px;
}

#header-about .container .row .card p {
    line-height: 50px;
    padding-bottom: 5px;
}

#header-about .container .row .card .card-body {
    padding: 20px 1rem;
}

#header .container .row {
    flex-direction: column-reverse;
}

#header .container {
    background-repeat: no-repeat;
    background-size: contain;

}

.header .h1-large {
    margin-bottom: 1.75rem;
}

.header .p-large {
    margin-bottom: 2.25rem;
}

.header .image-container {
    margin-top: 5rem;
}


section#section-the-problem .container {
    background-size: cover;
    background-position: -200px 0px;

}

/* wave just above "Problem we want to solve" */
section#section-the-problem img {
    margin-top: -300px;
    width: -webkit-fill-available;
    max-height: 280px;
    max-width: 1140px;

}

section#section-about-program {
    margin-top: -6rem;
}

section#section-about-program p {
    text-align: justify;
}


/********************/
/*     Statistics     */
/********************/
.cards-stats {
    text-align: center;
    background: url("/images/bg-stats.jpg") center center no-repeat;
    background-size: cover;
}

.ananse-bg-bubbles {
    background: url("/images/bg-bubbles.jpg") center center no-repeat;
    background-size: cover;
}

.cards-stats h2 {
    margin-bottom: 1rem;
}

.cards-stats .card {
    margin-bottom: 2.5rem;
    align-items: center;
    border: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}


.cards-stats .stats-number-count {
    border-radius: 8px;
    text-align: center;
    border: 6px solid white;
    /* border-radius:100%; */
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    width: 120px;
    color: white;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: -0.4px;



}


.cards-stats .card-body {
    padding-top: 10px;
}

.cards-stats .card-title {
    /* margin-bottom: 1.125rem; */
    color: #223150;
    font: 20px "Open Sans", sans-serif;
    margin: 0px 0px 18px;
    font-weight: 700;
    font-size: 1.10rem;
    line-height: 1.625rem;
    color: white
}

.cards-stats .card-body p {
    margin-bottom: 1.125rem;
}

.cards-stats .stats-mentee {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/stats-mentee.png);
}

.cards-stats .stats-mentor {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/stats-mentor.png);
}

.cards-stats .stats-time {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/stats-time.png);
}

div[id="statistics-for-mobile"] {
    display: unset;
}

div[id="statistics-for-desktop"] {
    display: none;
}

.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out .7s;
}

.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

/*********************/
/*     Details 1     */
/*********************/
.cards-about {
    background: #DDEFF4;
    /* background: linear-gradient(white, yellow), url("/images/bg-about-spider.png"); */
    text-align: center;
}

/* about image, mobile, default */
.cards-about .container img[src='images/bg-about.png'] {
    height: 230px;
    z-index: 1;
}

/* hanging spider, default, mobile */
.cards-about .container img[src='images/bg-about-spider.png'] {
    /* top: 000px; */
    right: 00px;
    padding-top: 230px;
    width: 100px;
    position: absolute;
    align-content: end;
    /* z-index: 0; */

}

.cards-about .image-container {
    margin-bottom: 4rem;
}

.cards-about h2 {
    margin-bottom: 1.75rem;
}

.cards-about p {
    margin-bottom: 2rem;
    padding: 0 15px;
}


/*********************/
/*     Details 2     */
/*********************/
.basic-2 {
    text-align: center;
    /* background: url("/images/details-2-background.jpg") center center no-repeat; */
    background-size: cover;
}

.basic-2 .card {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
}

.basic-2 .card .icons {
    width: 60px;
    margin-bottom: 1.5rem;
}

.basic-2 h2 {
    margin-bottom: 1.75rem;
}

.basic-2 p {
    margin-bottom: 0;
}

.team-information {
    /* background: url("/images/details-2-background.jpg") center center no-repeat; */
    background-size: cover;
    text-align: center;
}

.team-information .text-container {
    margin-bottom: 4rem;
}

.team-information h2 {
    margin-bottom: 1.75rem;
}

.team-information p {
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}

/********************/
/*     Join us     */
/********************/
.join-us-section {
    background: black;
    background-size: cover;
}


.join-us-section h4 {
    color: #ffffff;
    text-align: center;
}

.join-us-section .h2-heading {
    margin-bottom: 1rem;
    color: #ffffff;
    text-align: center;
}

.join-us-section .p-heading {
    margin-bottom: 4rem;
    color: #ffffff;
    text-align: center;
}


section#section-join-us .container[id^='join-us-'],
section#section-about-team .row {
    padding-bottom: 10px;
}

section#section-join-us .card,
section#section-about-team .card {
    /* margin: 5px 5px; */
    width: unset;
    height: unset;
    margin-bottom: 2rem
}

section#section-join-us .card img,
section#section-about-team .card img {
    /* width: 300px; */
    height: 300px;
    object-fit: cover;
    object-position: top;
}

/* Small text just before pagination */
section#section-join-us .container .row .col-12 p {
    color: white;
    text-align: center
}

/* Mentor/Mentee pagination */
section#section-join-us div .page-item {
    min-width: 35%;
    text-align: center;
}

.card .card-body .card-text {
    text-align: justify;
}

section#section-join-us div .page-link {
    border-color: white;
    border-width: medium;
    background-color: black;
    color: white;
}

section#section-join-us [id^='join-us-'] {
    display: none;
}

section#section-join-us [id^='join-us-'].active {
    display: block;
}

section#section-join-us div .page-item.active .page-link {
    background-color: #DDEFF4;
    color: black;
}

/* end of mentor/mentee pagination */

/* repeating grid in Join Us */

#joinus-grid-networking {
    background: url("/images/join-us-bg-networking.svg");
    background-position: 100px 0;
}

#joinus-grid-experience {
    background: url("/images/join-us-bg-experience.svg");
    background-position: 200px 0;
}

#joinus-grid-opportunities {
    background: url("/images/join-us-bg-opportunities.svg");
    background-position: 300px 0;
}

section#section-join-us [id^='joinus-grid-'] {
    height: 40px;
    background-repeat: repeat-x;
}


/************************/
/*     Testimonials     */
/*   (Mentee stories)   */
/************************/
.cards-2 {
    padding-top: 2.5rem;
    text-align: center;
}

.cards-2 .h2-heading {
    margin-bottom: 3.75rem;
}

.cards-2 .card {
    position: relative;
    margin-bottom: 5rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px -1px rgba(0, 0, 0, 0.1);
}

.cards-2 .card .quotes {
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    width: 48px;
    margin-right: auto;
    margin-left: auto;
}

.cards-2 .card-body {
    padding: 3.5rem 2rem 3.125rem 2rem;
}

.cards-2 .testimonial-author {
    margin-bottom: 0.125rem;
    color: #223150;
}

.cards-2 .occupation {
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.cards-2 .card .gradient-floor {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cards-2 .card .gradient-floor.red-to-blue {
    background: linear-gradient(to right, #ef3d91, #0092ff);
}

.cards-2 .card .gradient-floor.blue-to-purple {
    background: linear-gradient(to right, #0092ff, #637eff);
}

.cards-2 .card .gradient-floor.purple-to-green {
    background: linear-gradient(to right, #637eff, #16c66d);
}
.mentor-card-group{
    padding: 0 30px;
    padding-bottom: 10px;
}
.mentor-card{
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
    height: 100%;
    margin-bottom: 0.75rem;
}
.mentor-card img {
    padding: 5px;
    border-radius: 1.5rem;
    height: 400px;
    object-fit: cover;
}

.mentor-card .card-body .mentor-bio {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mentor-card .card-body .mentor-bio:hover {
    text-decoration: underline;
}

/**********************/
/*     Invitation     */
/**********************/
#section-invitation {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

#section-invitation .card {
    background-color: #DDEFF4;
    border-radius: 20px;
}


/*******************/
/*       FAQ       */
/*******************/
#section-faq>.container {
    padding-top: 1.25rem;
}

/*******************/
/*        x        */
/*******************/


/*******************/
/*     Contact     */
/*******************/

/* this workaround maintains top spacing while making the navbar anchor
scroll-to positions work properly */
#contact-form {
    padding-top: 6rem;
    margin-top: -4rem;
}

#contact-form .card {
    margin: 0 10px;
    border-color: none;
    box-shadow: 0 4px 20px -1px rgba(0, 0, 0, 0.1);
}

#contact-form .col {
    padding: 1rem 2rem;
    vertical-align: middle;
    justify-content: center;
}

#ananse-contact-form-img img {
    max-width: 200px;
    aspect-ratio: calc(200/185);
    /* dimensions of favicon */
}

#ananse-contact-form-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("/images/bg/bg-contact-form.png");
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: none;
    /*only show on larger screens */
}

/* .form-contact {
    padding: 3rem 0;
    text-align: center;
} */

.form-contact .text-container {
    margin-bottom: 4rem;
}

.form-contact h2 {
    margin-bottom: 1.75rem;
}

/******************/
/*     Footer     */
/******************/
.bg-light {
    background-color: #00708B !important;
}

/* footer ananse logo */
#footer-logo-name img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

/* footer ananse address */
#footer-logo-name p {
    text-align: start;
}

/* footer ananse address */
#footer-socials img {
    width: 35px;
    height: 35px
}


/************************/
/*     Testimonials     */
/*   (Mentee stories)   */
/************************/


/*********************/
/*     Copyright     */
/*********************/
.copyright {
    padding-top: 1.5rem;
    border-top: 1px solid #d0dae2;
    text-align: center;
}

.copyright a {
    text-decoration: none;
}

.copyright .statement {
    opacity: 0.7;
}

/******************************/
/*     Back To Top Button     */
/******************************/
#back-to-top-Btn {
    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #44434a;
    cursor: pointer;
}

#back-to-top-Btn:hover {
    background-color: #1d1d21;
}

#back-to-top-Btn img {
    margin-bottom: 0.25rem;
    width: 18px;
}

/*************************/
/*     Media Queries     */
/*************************/

/* Default media query is for extra 
small devices with max-width 768px */

/* Min-width 768px */
@media (min-width: 768px) {

    /* Header */
    .header .h1-large {
        font-size: 3.25rem;
        line-height: 3.75rem;
    }

    #header .container {

        /* "padding" moved from .header in default media query.
            move back upon breakage */
        padding: 8rem 0 4rem;
    }

    #header .container .row {
        flex-direction: unset;
    }

    #header-about .container .row {
        background-position-y: -250px;
    }

    /* end of header */

    /* Statistics */
    .counter .counter-cell {
        display: inline-block;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        vertical-align: top;
    }

    div[id="statistics-for-mobile"] {
        display: none;
    }

    div[id="statistics-for-desktop"] {
        display: flex;
    }

    /* end of statistics */

    /* Join us */
    section#section-join-us .row[id^='join-us-'] {
        display: flex;
    }

    section#section-join-us .card,
    section#section-about-team .card {
        width: unset;
        height: 100%;
        margin-bottom: unset;
    }

    /* end of Join us */

    .meet-the-team-section {
        flex-direction: row;
    }

    .team-section:not(:last-child) {
        margin-right: 1rem;
    }

    .team-section {
        padding-bottom: 0;
    }
}

/* end of min-width 768px */

/* Min-width 992px */
@media (min-width: 992px) {

    /* General Styles */
    .h2-heading {
        width: 35.25rem;
        margin-right: auto;
        margin-left: auto;
    }

    .p-heading {
        width: 46rem;
        margin-right: auto;
        margin-left: auto;
    }

    /* end of general styles */

    /* Navigation */
    .navbar {
        padding-top: 1.75rem;
        background-color: #fcfafb;
        box-shadow: none;
        transition: all 0.2s;
    }

    .navbar.top-nav-collapse {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: #fcfafb;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    }

    .offcanvas-collapse {
        position: static;
        top: auto;
        bottom: auto;
        left: auto;
        width: auto;
        padding-right: 0;
        padding-left: 0;
        background-color: transparent;
        overflow-y: visible;
        visibility: visible;
    }

    .offcanvas-collapse.open {
        -webkit-transform: none;
        transform: none;
    }

    .navbar .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
        /*visibility: hidden; /* TODO: Ask team: Is this advisable? */
    }

    .navbar .nav-item .nav-link {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }

    .navbar .dropdown-menu {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
    }

    .navbar .dropdown-divider {
        width: 90%;
    }

    .navbar .nav-item .btn-solid-sm {
        margin-top: 0;
        margin-left: 1rem;
    }

    /* end of navigation */

    /* Header */
    .header {
        text-align: left;
    }

    #header .text-container {
        margin-top: 4rem;
    }

    .header .image-container {
        margin-top: 0;
    }

    .header .btn-solid-lg,
    .header .btn-outline-lg {
        margin-right: 0;
        margin-left: 0;
    }

    .header .btn-solid-lg {
        margin-right: 0.5rem;
    }

    /* end of header */

    /* Services */
    .cards-stats .card {
        width: 286px;
        height: 345px;
        display: inline-flex;
        text-align: center;
        vertical-align: top;
    }

    .cards-stats .card:nth-of-type(3n + 2) {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    /* end of services */

    /* About Program cards */
    .cards-about .image-container {
        margin-bottom: 0;
    }

    /* about image, desktop */
    .cards-about .container img[src='images/bg-about.png'] {
        height: unset;
    }

    /* hanging spider, desktop */
    .cards-about .container img[src='images/bg-about-spider.png'] {
        padding-top: unset;
        width: 200px;
    }

    .cards-about .text-container {
        margin-top: 2rem;
    }

    /* end of details 1 */

    /* Details 2 */

    .basic-2 .text-container {
        display: flex;
        justify-content: space-around;
    }

    .basic-2 .card {
        flex: 1;
        margin: 0 2rem;
    }

    .team-information .text-container {
        margin-top: 3rem;
        margin-bottom: 0;
    }

    /* end of details 2 */

    /* Testimonials */
    .cards-2 .card {
        display: inline-block;
        width: 298px;
        vertical-align: top;
    }


    .cards-2 .card:nth-of-type(3n + 2) {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    /* end of testimonials */

    /* Contact form */
    #ananse-contact-form-img {
        display: block;

    }

    #contact-form .col:last-child {
        display: flex;

    }

    /* end of contact form */

    /* Footer */
    .footer h4 {
        width: 46rem;
        margin-right: auto;
        margin-left: auto;
    }

    /* end of footer */
}

/* end of min-width 992px */

/* Min-width 1200px */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    #statistics,
    #testimonials {
        padding-top: 4rem;
    }

    /* end of general styles */

    .header .image-container {
        position: relative;
    }

    /* end of header */

    /* Services */
    .cards-stats .card {
        width: 310px;
    }

    .cards-stats .card:nth-of-type(3n + 2) {
        margin-right: 5.5rem;
        margin-left: 5.5rem;
    }

    /* end of services */

    /* Details 1 */
    /* .cards-about .text-container {
        margin-top: 5rem;
        margin-left: 2.75rem;
    } */

    /* end of details 1 */

    /* Details 2 */
    .team-information .text-container {
        margin-top: 6rem;
        margin-right: 3rem;
    }

    .team-information .image-container {
        text-align: right;
    }

    /* end of details 2 */



    /* Testimonials */
    .cards-2 .card {
        width: 356px;
    }

    .cards-2 .card:nth-of-type(3n + 2) {
        margin-right: 1.125rem;
        margin-left: 1.125rem;
    }

    /* end of testimonials */

    /* Contact */
    .form-contact .text-container {
        margin-top: 1.5rem;
        margin-right: 2.75rem;
    }


    /* end of contact-form */

}